@model QuizzFarmacia1.Models.empleados
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />
   
</head>
<body>


    <div class="perfil">
        <br>
        <p>No. Empleado: @Model.NumEmpleado</p>
        <p>NomEmpeado: @Model.NomEmpleado</p>
        <p>Area del empleado: @Model.AreaEmpleado</p>
        <p>Telefono: @Model.Telefono</p>
        <p>email: @Model.Email</p>
        <img src="@Url.Content(Model.Photo)" />
        <a href="http://localhost:49446/"><input type="button"value="Regresar"/></a>
     

  


    </div>
</body>
</html>
